{% extends 'base/base.html' %}
{% load l10n %}
{% load project_tags %}
{% block content %}

<div class="row">
    <fieldset class="border p-2">
        <legend class="w-auto">Property Info</legend>
        <dl class="row">
            <dt class="col-sm-3">Number of Rooms</dt>
            <dd class="col-sm-9">{{object.number_of_rooms}}</dd>

            <dt class="col-sm-3">Rental Price</dt>
            <dd class="col-sm-9">{{object.rental_price | currency }}</dd>
        </dl>
    </fieldset>
    <fieldset class="border p-2">
        <legend class="w-auto">Purchase Info</legend>
        <dl class="row">
            <dt class="col-sm-3">Date Purchased</dt>
            <dd class="col-sm-9">{{object.purchase_date}}</dd>

            <dt class="col-sm-3">Purchase Price</dt>
            <dd class="col-sm-9">{{object.purchase_value | currency }}</dd>
        </dl>
    </fieldset>
</div>
<div class="row">
    {% if object.address %}
    <fieldset class="border p-2">
        <legend class="w-auto">Address</legend>
        <dl class="row">
            <dt class="col-sm-3">Line 1</dt>
            <dd class="col-sm-9">{{object.address.line1}}</dd>

            <dt class="col-sm-3">Line 2</dt>
            <dd class="col-sm-9">{{object.address.line2|default_if_none:""}}</dd>

            <dt class="col-sm-3">Line 3</dt>
            <dd class="col-sm-9">{{object.address.line3|default_if_none:""}}</dd>

            <dt class="col-sm-3">Post Code</dt>
            <dd class="col-sm-9">{{object.address.post_code}}</dd>

            <dt class="col-sm-3">Town</dt>
            <dd class="col-sm-9">{{object.address.town|default_if_none:""}}</dd>

            <dt class="col-sm-3">City</dt>
            <dd class="col-sm-9">{{object.address.city|default_if_none:""}}</dd>
        </dl>
    </fieldset>
    {% else %}
    <p>No Address details found.</p>
    {% endif %}
</div>
{% if object.tenant_set.all%}
<a href="{% url 'tenants:tenant-create' object.id %}">Create Tenant</a>
<div class="row">
    {% for tenant in object.tenant_set.all %}
    <fieldset class="border p-2">
        <legend class="w-auto">Tenants ({{object.tenant_set.all.count}})</legend>
        <div>
            <a href="{% url 'tenants:tenant-detail' object.id tenant.id %}">View</a>
            <a href="{% url 'tenants:tenant-update' object.id tenant.id %}">Edit</a>
        </div>
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{tenant.title}} {{tenant.first_name}} {{tenant.last_name}}</dd>

            <dt class="col-sm-3">Occupation</dt>
            <dd class="col-sm-9">{{tenant.occupation}}</dd>

            <dt class="col-sm-3">Tenancy Start Date</dt>
            <dd class="col-sm-9">{{tenant.tenancy_start}}</dd>

            <dt class="col-sm-3">Tenancy End Date</dt>
            <dd class="col-sm-9">{{tenant.tenancy_end}}</dd>

            <dt class="col-sm-3">Date of Birth</dt>
            <dd class="col-sm-9">{{tenant.date_of_birth}}</dd>
        </dl>
    </fieldset>
    {% endfor %}
</div>
{% else %}
<p>No Tenants</p>
{% endif %}

{% if property.propertydocument_set.all %}
<div class="row">
    <h5>{{property.propertydocument_set.count}} Documents</h5>
    <div>
        {% for doc in property.propertydocument_set.all %}
            <a href="{{ MEDIA_URL }}{{doc.document.url}}">{{doc.filename}}</a>
        {% endfor %}
    </div>
</div>
{% else %}
<p>No Documents</p>
{% endif %}

{% if property.propertyimage_set.all %}
<div class="row">
    <h5>Images</h5>
    <div>
        {%for image in property.propertyimage_set.all %}
            <img class="col-sm-4 img-fluid img-thumbnail" src="{{ image.image.url }}" alt="image.image">
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    <a href="{% url 'properties:property_edit' object.portfolio.id object.id %}" class="btn btn-info">Edit</a>
</div>
{% endblock %}